.gitignore
*.swp
dot.vim/bundle/YouCompleteMe/
dot.vim/bundle/ctrlp.vim/
dot.vim/bundle/fzf/
dot.vim/bundle/goyo.vim/
dot.vim/bundle/limelight.vim/
dot.vim/bundle/nerdcommenter/
dot.vim/bundle/nerdtree/
dot.vim/bundle/rust.vim/
dot.vim/bundle/seoul256.vim/
dot.vim/bundle/syntastic/
dot.vim/bundle/tabular/
dot.vim/bundle/vim-elixir/
dot.vim/bundle/vim-erlang-runtime/
dot.vim/bundle/vim-fugitive/
dot.vim/bundle/vim-markdown/
dot.vim/bundle/vim-orgmode/
